body{
    font-family: 'Alatsi', sans-serif;
    padding-top: 85px; 
}


.portada{
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.present{
    position: relative;
    text-align: center;
}

.gradient{
    background-color: linear-gradient(to bottom left, #0066ff 0%, #9966ff 100%);
}

.navbar-nav{
    text-decoration-color: white;
}